# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode

# dependencies
/shareme_frontend/node_modules
/shareme_frontend/.pnp
.pnp.js

# testing
/shareme_frontend/coverage

# production
/shareme_frontend/build

# misc
/shareme_frontend/.DS_Store
/shareme_frontend/.env.local
/shareme_frontend/.env.development.local
/shareme_frontend/.env.test.local
/shareme_frontend/.env.production.local
/shareme_frontend/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
/shareme_backend/logs
*.log

# Coverage directory used by tools like istanbul
/coverage

# Dependency directories

/shareme_backend/node_modules

# Compiled sanity studio
/shareme_backend/dist
